# Core LangChain
langchain
langchain-community
langchain-classic
langchain_groq
groq

# Gemini (Google AI)
langchain-google-genai
google-generativeai

# Embeddings + Vector DB
langchain-huggingface
faiss-cpu

# Force CPU-only torch (compatible with Python 3.13)
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.0+cpu
sentence-transformers

# Backend
fastapi
uvicorn
pydantic
python-dotenv

# Frontend
streamlit
requests

# Document ingestion
pypdf
langchain-text-splitters
python-multipart